server:
  servlet:
    context-path: /api/v1/prd/fees-service
  error:
    include-stacktrace: never

spring:
  web:
    resources:
      add-mappings: true


minio:
  endpoint: http://10.1.11.179:9002
  access-key: ${ACCESS_KEY:minioadmin}
  secret-key: ${SECRET-KEY:minioadmin@2026}
  bucket-name: ${BUCKET_NAME:fee-charge-bucket}
  secure: false


springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  packages-to-scan: com.cbs.uploads-service.controllers
  show-actuator: true

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized